In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [67]:
df=pd.read_csv('C:\\Users\\Nisha\\Desktop\\dataset w7.csv')

In [5]:
df

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1. Carry out descriptive analytics on the dataset.

In [44]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [68]:
m_score=df[df['Gender']=='male']
f_score=df[df['Gender']=='female']

In [69]:
st.shapiro(m_score['Total Marks'])

ShapiroResult(statistic=0.9093747138977051, pvalue=0.20944461226463318)

In [70]:
st.shapiro(f_score['Total Marks'])

ShapiroResult(statistic=0.9078445434570312, pvalue=0.10742566734552383)

In [ ]:
#alpha=0.05
#Here,in both cases pvalue > 0.05.So we can assume that distribution is normal.

In [85]:
ttest,p=st.ttest_ind(m_score['Total Marks'],f_score['Total Marks'])
print('p value is ',p)

p value is  0.4937822317960763

In [89]:
#H0:Scores of male and female students are different
#H1:Scores of male and female students are same
if(p<0.05):
    print('Reject null hypothesis\n Scores of male and female students are same')
else:
    print('Accept null hypothesis \nScores of male and female students are different ')

Accept null hypothesis
Scores of male and female students are different

# 3. Whether test preparation helps the students?

In [93]:
test_complete=df[df['Test preparation']=='completed']
test_none=df[df['Test preparation']=='none']

In [95]:
st.shapiro(test_complete['Total Marks'])

ShapiroResult(statistic=0.9187047481536865, pvalue=0.4593968093395233)

In [96]:
st.shapiro(test_none['Total Marks'])

ShapiroResult(statistic=0.935218095779419, pvalue=0.17507188022136688)

In [97]:
#alpha=0.05
#Here,in both cases pvalue > 0.05.So we can assume that distribution is normal.

In [98]:
ttest_prep,pval=st.ttest_ind(test_complete['Total Marks'],test_none['Total Marks'])
print('p value is ',pval)

p value is  0.0012671292457320106

In [100]:
#H0:Test preparation did not help the students
#H1:Test preparation helped the students
if(pval<0.05):
    print('Reject null hypothesis\nTest preparation helped the students')
else:
    print('Accept null hypothesis \nTest preparation did not helped the students ')

Reject null hypothesis
Test preparation helped the students